<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <title>字幕朗读</title>
    <link rel="stylesheet" href="../static/sub2audio.css" type="text/css" />
</head>

<body>
    <article>
        <div class="caption">百度</div>
        <form action="sub2audio/save/baidu" method="POST">
            <div><a href="https://console.bce.baidu.com/ai/" target="_blank">百度密钥获取</a></div>
            <div><a href="https://ai.baidu.com/tech/speech/tts" target="_blank">百度语音试听</a></div>
            <div>App ID</div>
            <div><input name="app_id" type="text" value="{{baidu.get('app_id','')}}" required /></div>
            <div>App Key</div>
            <div><input name="app_key" type="text" value="{{baidu.get('app_key','')}}" required /></div>
            <div>Secret Key</div>
            <div><input name="secret_key" type="password" value="{{baidu.get('secret_key','')}}" required /></div>
            <div><button type="submit">保 存</button></div>
        </form>
        <form class="options">
            <div>发音人</div>
            <div class=""><label>度小宇（标准男声）<input type="radio" name="sex" value="1"></label></div>
            <div class=""><label>度小美（标准女声）<input type="radio" name="sex" value="0"></label></div>
            <div class=""><label>度逍遥（情感男声）<input type="radio" name="sex" value="3"></label></div>
            <div class=""><label>度丫丫（情感女声）<input type="radio" name="sex" value="4"></label></div>
            <div>语速</div>
            <div><input type="range" name="spd" min="0" max="15" value="5" /></div>
            <div>音调</div>
            <div><input type="range" name="pit" min="0" max="15" value="5" /></div>
            <div>音量</div>
            <div><input type="range" name="vol" min="0" max="15" value="5" /></div>
            <div>文件</div>
            <div><input type="file" name="file" accept=".srt" /></div>
            <div><button type="submit">点击生成</button></div>
        </form>
    </article>
</body>

</html>